<head>
  <title>Proyecto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
  <center><h1>Lista de Proyectos</h1></center>
  <div class="row">
    <div class="col-md-3" style="margin: 25px;" *ngFor="let project of Projects">
      <h4>{{project.titlePost}}</h4>
      <p>{{project.contentPost}}</p>
      <button type="button" class="btn btn-secondary">Ver Proyecto</button>
    </div>
  </div>
</div>
</body>


